body {
    margin: 0;
}

/* temporarily adjusting img's to fit mobile view better */
body img {
    width: 304px;
}

/* header styling */
.header img {
    width: 28px;
    padding: 5px;
    border-radius: 50%;
}

h1 {
    display: inline-block;
    font-size: 17px;
    padding-left: 1em;
}

/* bell animation  */

.bellIcon:hover {
    animation: bellRing 4s ease-in-out 1;
}

@keyframes bellRing {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
 /* NOTE - for some reason this only works once in chrome and only on click. Works in other browsers.
/*---------------*/

h3 {
    margin-left: 16px;
}

.header h3 {
    display: flex;
    font-size: 10px;
    width: 50%;
    margin: auto;
    font-size:12px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    align-items: center;
    background-color: #7577B9;
    color: white;
    padding: 0;
}

.header svg {
    width: 1em;
    padding: .5em;
}

.headerLeftSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 4em;
}

.headerLeftSide div {
    display:flex;
    width: auto;
    align-items: center;
    
}

.headerRightSide {
    display: flex;
    flex-direction: row;
    border-left: .25px solid white;
}



/* nav */
.nav {
    display: flex;
    justify-content: center;
    background-color: #4D4D72;
    gap: 1em;
}

.nav svg {
    width: 2em;
    padding: .5em;
}

/* dashboard tab  */
.tab h2 {
    background-color: #FFFFFF;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0;
    font-size: 17px;
    width: 25%;
  }

.tab {
    background-color: rgb(218, 217, 217);
}

.traffic-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
}

/* styling for alert box */
.alert {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color:#7577B9;
    color: white;
    border-radius: 12px;
    padding: 14px;
    margin: 15px;
}

.alert div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.alert p {
    margin: 0;
    padding: 0;
}

.widget-container-full,
.widget-container-half {
    border-bottom: .5px solid gray;
    padding: 1em;
}

/* Social Status section */

.facebookSocialStatus,
.instagramSocialStatus,
.twitterSocialStatus {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:3;
}


.facebookContainer,
.instagramContainer,
.twitterContainer {
    display: flex;
    justify-content: start;
    padding: 1em 0;
    background-color: #f3f3f3;
    border: solid 1px grey;
    border-radius: 1em;
    margin: 1em;
}
.facebookSocialIcon,
.instagramSocialIcon,
.twitterSocialIcon {
    display:flex;
    width: 46px;
    background-color: #7577B9;
    border-radius: 50%;
    padding: 22px;
    margin: 0 1em;
}

.socialSection p {
    padding: 0;
    margin: 0;
}

.socialSection p:nth-child(odd) {
    font-size: 20px;
    color: #7577B9;
}

.socialSection p:nth-child(even) {
    font-size: 43px;
    color: grey;
}


/* New member area  */
.members-container {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-bottom: .5px solid gray;
    padding: 0 0 1em 0;
}

.members-container img {
    width: 100px;
    border-radius: 50%;
    margin: 1em 0 0 0;
}

.members-text p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.members-text p:nth-child(0n + 3) {
    padding: 0 0 1em 0;
}


.members-container p:nth-child(0n + 3) {
    margin: 0 0 1em 0;
}


/* user messaging area */
.message {
    padding-bottom: 1em;
    border-bottom: .5px solid gray;
}

.widget-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin: 1em;
}

.form-field {
    border: solid 1px rgb(215, 215, 215);
    border-radius: .25em;
    background-color: rgb(243, 243, 243);
    height: 3em;
}

.form-area {
    height: 5em;
    border-radius: .25em;
    border: solid 1px rgb(215, 215, 215);
    background-color: rgb(243, 243, 243);
}

#send {
    color: white;
    background-color: #7577B9;
    border-style: none;
    border-radius: .25em;
    padding: 1em;
}
::placeholder {
    color:lightgrey;
    padding: 1em;
}

/* settings */

.settings {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    
}
.switches,
.timezoneSelection {
    align-items: left;
}

.settings h3 {
    align-items:left;
}
.switch-light.switch-ios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 295px;
    padding: 1em;

}

.switch-light.switch-ios input:checked ~ span {
    border-color: #7577B9;
    box-shadow: inset 0 0 0 30px #7577B9;
}


.switches strong {
    font-size: 14px;
    margin-right: auto;
    text-align: center;

}

.switches {
    margin-bottom: 1em;
}

/* timezone selection */

.timezoneSelection {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.settings-button {
    display: flex;
    justify-content: space-between;
    width: 80vh;
    padding-top: 1em;
}

#save {
    width: 100%;
    height: 3em;
    margin-right: 1.5em;
    color: white;
    background-color: #7577B9;
    border-style: none;
    border-radius: .25em;
}

#cancel {
    color: white;
    background-color: rgb(131, 131, 131);
    width: 100%;
    height: 3em;
    border-style: none;
    border-radius: .25em;
}

/* media screens for tablet */
@media screen and (min-width: 768px) {

    .grid-container {
        display: grid; 
        grid-template-columns: .25fr 7fr; 
        grid-template-areas: 
          "header header"
          "nav main"; 
      }
      .Main { 
        grid-area: main; 
    }
      .Nav { 
        grid-area: nav; 
    }
      .header { 
        grid-area: header;
     }

    .headerLeftSide{ display: flex;
        gap: 32em;
    }
    
       .tab h2 {
        width: fit-content;
    }
       
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h1 {
        font-size: 17px;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 4em;
        align-items: center;
    }
    .nav svg:nth-child(0n+1) {
        padding-top: 1em;
    }
    
    .traffic {
        border-bottom: .5px solid gray;
    }

    .graphs {
        display: flex;
        justify-content: space-around;
        border-bottom: .5px solid gray;
    }

    .members-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .members-container img {
        width: 4em;
        padding: 1em;
    }

    .members-container p:nth-child(0n + 3) {
        margin: 0 0 1em 0;
        padding: 1em;
    }

    .members-text {
        margin-right: auto;
    }

    .members-container p {
        text-align: left;
    }


    .settings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2em;
    }

    .timezoneSelection {
        display: flex;
        padding-left: 1em;
        width: -webkit-fill-available;
        padding-right: 16px;
    }
    
    .settings-button {
        display: flex;
        justify-content: space-between;
        flex: 1;
        width: auto;
    }
    
    .widget-container-full, .widget-container-half {
        border-bottom: none;
        padding: 1em;
    }

    section.daily {
        box-sizing: border-box;
        flex:1;
    }

  .daily:nth-child(2) {
        box-sizing: border-box;
        flex:1;
        border-left: .5px solid gray;
    }

    .socialSection {
        display: flex;
        justify-content: space-around;
        padding: 0px 0.15em;
    }

    .facebookContainer, .instagramContainer, .twitterContainer {
        padding-right: 1em;
        margin: 0;
        width: 30vw;
    }


}

/* media screens for desktop  */
@media screen and (min-width: 1024px) {
    .memberContentArea {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    }

    .socialSection,
    .settings,
    .members,
    .recentActivity {
        border-left: .5px solid gray;
        margin: 0;
        padding: 0;
    }

    #messageField {
        height: 10em;
    }

    #save,
    #cancel {
        height: 42px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .traffic-nav {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        padding: 0 1em;
    }

    .socialSection {
        padding-bottom: 1em;
        border-bottom: .5px solid gray;
    }

    .facebookContainer, .instagramContainer, .twitterContainer {
        padding: .5em 0;
        padding-right: 3em;
        width: 25vw;
        
    }

    .widget-container {
        display: flex;
        justify-content: space-between;
    }

    .message {
        padding: 0;
    }

    .graphs {
        display: flex;
        justify-content: space-between;
    }

    .daily {
        padding:1em;
        box-sizing: border-box;
        flex: 1;
    }


    .graphs h3 {
        padding: .5em 0;
        margin: 0;
    }
